.meal-log {
    display: inline-block;
    width: 400px;
    margin: 20px 140px;

    &__header,
    &__content {
        padding: 16px;
    }

    &__title {
        color: #0d1c1a;
        font-size: 32px;
        font-weight: 700;
        line-height: 40px;
    }

    &__subtitle {
        color: #4f968f;
        font-size: 14px;
        line-height: 21px;
    }

    &__meal {
        padding: 12px 0;

        &--header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            h2 {
                margin: 0;
            }
        }

        &--actions {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-top: 10px;
        }
    }

}

.arrow_down {
    height: 20px;
    width: 20px;
    cursor: pointer;

    &.rotated {
        transform: rotate(180deg);
    }

}

.photo-camera {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.add-meal {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.scanner {
    display: inline-block;
    height: 150px;
    width: 400px;
}