.meal-log {
    width: 350px;
    margin: 20px 140px;

    &__header,
    &__content {
        padding: 16px;
    }

    &__title {
        color: #0d1c1a;
        font-size: 32px;
        font-weight: 700;
        line-height: 40px;
    }

    &__subtitle {
        color: #4f968f;
        font-size: 14px;
        line-height: 21px;
    }

    &__meal {
        &--header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &.rotated {
                transform: rotate(180deg);
            }

            h2 {
                margin: 0;
            }
        }
    }

}

.arrow_down {
    height: 20px;
    width: 20px;
    cursor: pointer;
}