.meal-log {
  width: 80vw;
  margin: 20px auto;

  &__header,
  &__content {
    padding: 16px;
  }

  &__title {
    color: #0d1c1a;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
  }

  &__subtitle {
    color: #4f968f;
    font-size: 14px;
    line-height: 21px;
  }
}
