<div class="meal-log">
    <div class="meal-log__header">
        <h1 id="meal-log-title" class="meal-log__title">
            Meal Log
        </h1>
        <p class="meal-log__subtitle">
            Review your past meals and track your progress over time.
        </p>
    </div>

    <form class="meal-log__content" [formGroup]="mealLogForm">
        <div class="meal-log__breakfast">
            <h2>Breakfast</h2>
            <app-input></app-input>
        </div>
        <div class="meal-log__lunch">
            <h2>Lunch</h2>
            <app-input></app-input>
        </div>
        <div class="meal-log__dinner">
            <h2>Dinner</h2>
            <app-input></app-input>
        </div>
        <div class="meal-log__snacks">
            <h2>Snacks</h2>
            <app-input></app-input>
        </div>

    </form>
</div>