<div class="meal-log">
    <div class="meal-log__header">
        <h1 id="meal-log-title" class="meal-log__title">
            Meal Log
        </h1>
        <p class="meal-log__subtitle">
            Review your past meals and track your progress over time.
        </p>
    </div>

    <form class="meal-log__content" [formGroup]="mealLogForm">
        @for (meal of mealList; track $index) {
        <div class="meal-log__meal">
            <div class="meal-log__meal--header" (click)="onHeaderClick(meal)">
                <h2>{{ meal.name }}</h2>
                <img src="assets/icons/Arrow-down.svg" class="arrow_down" [class.rotated]="meal.isListOpen"
                    alt="arrow_down" />
            </div>
            @if (meal.isListOpen) {
            <div class="meal-log__meal--actions">
                <app-select></app-select>
                <img 
                (click)="onScanClick()"
                src="assets/icons/photo-camera.svg" 
                class="photo-camera" 
                alt="photo_camera" />
                <img src="assets/icons/plus.svg" class="add-meal" alt="add_meal" />
            </div>
            }
        </div>
        }
    </form>
</div>

<div class="scanner">
     @if (scannerVisible) {
    <app-barcode-scanner (emitScanResult)="scannedProductId($event)"></app-barcode-scanner>
    }

    @if (product) {
    <div class="product-summary">
        <p><strong>Code:</strong> {{ product.code }}</p>
        <p><strong>Name:</strong> {{ product.name || 'N/A' }}</p>
        <p><strong>Brand:</strong> {{ product.brand || 'N/A' }}</p>
        <p><strong>Quantity:</strong> {{ product.quantity || 'N/A' }}</p>
        <p><strong>Categories:</strong> {{ product.categories || 'N/A' }}</p>
        <p><strong>Ingredients:</strong> {{ product.ingredients || 'N/A' }}</p>
        <p><strong>Salt (g/100g):</strong> {{ product.salt100g ?? 'N/A' }}</p>
        <p><strong>Nutri-Score:</strong> {{ product.nutriScore || 'N/A' }}</p>
        <p><strong>NOVA:</strong> {{ product.novaGroup || 'N/A' }}</p>
    </div>
    }
</div>