<div class="select" [style.width.px]="width">
  @if(showLabel) {
  <label [for]="id">{{ label }}</label>
  }

  <div
    class="select__dropdown"
    (click)="toggleOpen()"
    [class.disabled]="disabled"
  >
    <div class="select__dropdown--selected">{{ getSelectedText() }}</div>
    <img
      src="assets/icons/Arrow-down.svg"
      alt="arrow_down"
      [class.rotated]="isDropdownOpen"
    />
  </div>
  @if (isDropdownOpen) {
  <div class="select__options">
    <div class="select__options-search">
      <img src="assets/icons/search.svg" alt="arrow_down" />
      <input type="text" (input)="onSearch($event)" />
    </div>
    @for (option of (filteredOptions | async); track $index) {
    <div class="select__options--single" (click)="setSelectedOption(option)">
      @if (iconFor && iconFor(option)) {
        <img [src]="iconFor(option)!" [alt]="getLabel(option)" />
      }
      <div>{{ getLabel(option) }}</div>
    </div>
    }
  </div>
  }
</div>
