<div class="select">
  @if(showLabel) {
  <label [for]="id">{{ label }}</label>
  }

  <div class="select__dropdown" (click)="toggleOpen()">
    <div class="select__dropdown--selected">
      {{ options[0] }}
    </div>
    <img src="assets/icons/Arrow-down.svg" alt="arrow_down" />
  </div>
  @if (isDropdownOpen) {
  <div class="select__options">
    <div class="select__options-search">
      <img src="assets/icons/search.svg" alt="arrow_down" />
    </div>
    @for (option of options; track $index) {
    <div class="select__options--single">{{ option }}</div>
    }
  </div>
  }
</div>
