.workout-history {
  width: 80vw;
  margin: 20px auto;

  &__header,
  &__content {
    padding: 16px;
  }

  &__title {
    color: #0d1c1a;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
  }

  &__subtitle {
    color: #4f968f;
    font-size: 14px;
    line-height: 21px;
  }

  &__section-title {
    color: #0d1c1a;
    font-size: 18px;
    line-height: 23px;
    font-weight: 700;
    margin: 0 0 12px 0;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    padding: 12px 8px;
    display: flex;

    &-details {
      display: flex;
      flex-direction: column;
      margin-left: 16px;

      &--name {
        font-weight: 16px;
        font-weight: 700;
        line-height: 24px;
      }
    }

    &-date {
      margin-left: auto;
      font-size: 14px;
      line-height: 21px;
      color: #4F968F;
    }

    &:hover {
      cursor: pointer;
      background-color: #f5f5f5;
    }
  }

  &__empty {
    color: #9aa7a5;
    font-style: italic;
    padding: 12px 8px;
  }
}
