.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f7fafa;

  &__header {
    font-size: 28px;
    margin-bottom: 1.5rem;
    text-align: center;
    width: 100%;
    max-width: 400px;
  }

  &__button {
    width: 100%;
    max-width: 400px;
    padding: 0.75rem;
    border-radius: 0.6rem;
    font-size: 16px;
    color: #0d1c1a;
    background-color: #1cd1bf;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: darken(#1cd1bf, 5%);
    }

    &:disabled {
      background-color: #9ca3af;
      cursor: not-allowed;

      &:hover {
        background-color: #9ca3af;
      }
    }
  }

  .form-field {
    width: 100%;
    max-width: 400px;
    margin-bottom: 1rem;
  }

  &__footer {
    width: 100%;
    max-width: 400px;
    margin-top: 1rem;
    font-size: 14px;
    color: #4f968f;
    text-align: center;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
