<div class="login">
  <div class="login__form">
    <div class="login__header font-bold">Welcome to Fitness App</div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-field">
        <app-input
          formControlName="email"
          type="email"
          placeholder="Email"
          id="email-form"
        ></app-input>
      </div>

      <div class="form-field">
        <app-input
          type="password"
          placeholder="Password"
          id="password-form"
          formControlName="password"
        ></app-input>
      </div>

      <button
        type="submit"
        class="login__button font-bold"
        [disabled]="loginForm.invalid"
      >
        Log In
      </button>
    </form>
    <div class="login__footer" (click)="redirectToSignUp()">
      Don't have an account? Sign up
    </div>
  </div>
</div>
