<div class="exercise">
  <div class="exercise__header">Exercises</div>
  @for (item of (exercises | async); track $index; let idx = $index) {
  <div class="exercise__item">
    @if (idx === 0) {
    <div class="exercise__item-icon">
      <img
        src="assets/icons/weight-lifting-icon.svg"
        alt="Weight Lifting Icon"
      />
    </div>
    }

    <div class="exercise__item-sets">{{ idx + 1 }}.</div>
    <div class="exercise__item-name">{{ item.exercise.typeName }}</div>
    ·
    <div class="exercise__item-reps">{{ item.reps }}</div>
    ·
    <div class="exercise__item-max-weight">{{ item.weight }}kg</div>
    <div class="exercise__item-edit">
      <img src="assets/icons/pen-edit.svg" alt="Edit Icon" />
    </div>
  </div>
  }
</div>
