.exercise {
  color: #0d1c1a;

  &__header {
    font-weight: 700;
    font-size: 28px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: baseline;
    font-size: 16px;
    gap: 10px;

    &-icon {
      margin-right: 10px;
      height: 40px;
    }
  }
}
