.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  border-bottom: 1px solid #e6e8eb;

  &__logo {
    font-weight: 700;
    font-size: 18px;
    color: #0d1c1a;
    margin-left: 30px;
  }

  &__links {
    display: flex;
    gap: 20px;
    cursor: pointer;
    margin-right: 40px;
    font-size: 14px;
    color: #0d1c1a;

    a {
      text-decoration: none;
      color: inherit;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
