<div class="add-exercise">
  <div class="add-exercise__header">Add Exercise</div>
  <table>
    <thead>
      <tr>
        <th>Sets</th>
        <th>Name</th>
        <th>Reps</th>
        <th>Weight (kg)</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ sets.length + 1 }}.</td>
        <td>
          <app-select
            [id]="'Exercise-Name'"
            [name]="'Exercise-Name'"
            [label]="''"
            [showLabel]="true"
            [options]="options"
            formControlName="name"
          ></app-select>
        </td>
        <td>
          <app-input
            [width]="40"
            [type]="'number'"
            [placeholder]="''"
          ></app-input>
        </td>
        <td>
          <app-input
            [width]="50"
            [type]="'number'"
            [placeholder]="''"
          ></app-input>
        </td>
        <td>
          <button type="button" class="add-btn" (click)="addSet()">+</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
