<div class="add-exercise">
  <table>
    <thead>
      <tr>
        <th>Sets</th>
        <th>Name</th>
        <th>Reps</th>
        <th>Weight (kg)</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1.</td>
        <td>
          <ng-container *ngTemplateOutlet="exerciseNameRow"></ng-container>
        </td>
        <td>
          <ng-container *ngTemplateOutlet="exerciseRepsRow"></ng-container>
        </td>
        <td>
          <ng-container *ngTemplateOutlet="exerciseWeightRow"></ng-container>
        </td>

        @if (!exercise.length) {
        <td>
          <button
            type="button"
            class="add-btn"
            (click)="addSet()"
            [disabled]="isAddButtonDisabled"
            [class.disabled]="isAddButtonDisabled"
          >
            +
          </button>
        </td>
        <td>
          <button type="button" class="save-btn" (click)="saveExercise()">
            Save Exercise
          </button>
        </td>
        }
      </tr>
      @for (item of exercise; track $index; let idx = $index) {
      <tr>
        <td>{{ exercise.length + 1 }}.</td>

        <td>
          <ng-container
            *ngTemplateOutlet="exerciseNameRow; context: { disabled: true }"
          ></ng-container>
        </td>

        <td>
          <ng-container *ngTemplateOutlet="exerciseRepsRow"></ng-container>
        </td>
        <td>
          <ng-container *ngTemplateOutlet="exerciseWeightRow"></ng-container>
        </td>
        @if(idx + 1 === exercise.length) {
        <td>
          <button
            type="button"
            class="add-btn"
            [disabled]="isAddButtonDisabled"
            [class.disabled]="isAddButtonDisabled"
            (click)="addSet()"
          >
            +
          </button>
        </td>
        <td>
          <button type="button" class="save-btn" (click)="saveExercise()">
            Save Exercise
          </button>
        </td>
        }
      </tr>
      }
    </tbody>
  </table>
</div>

<ng-template #exerciseNameRow let-disabled="disabled">
  <app-select
    [id]="'Exercise-Name'"
    [name]="'Exercise-Name'"
    [label]="''"
    [showLabel]="true"
    [options]="options"
    [disabled]="disabled"
    [exercise]="currentExercise"
    (onSelect)="onSelectedName($event)"
  ></app-select>
</ng-template>

<ng-template #exerciseRepsRow let-disabled="disabled">
  <app-input
    [width]="40"
    [type]="'number'"
    [placeholder]="''"
    (data)="setReps($event)"
  ></app-input>
</ng-template>

<ng-template #exerciseWeightRow let-disabled="disabled">
  <app-input
    [width]="50"
    [type]="'number'"
    [placeholder]="''"
    (data)="setWeight($event)"
  ></app-input>
</ng-template>
